<% if @user == current_user %>
  <div class="alert alert-success" role="alert">
  	Hey, you're the user that's signed in right now! Hi, <%= @user.username %>!
  </div>
<% end %>

<p>Username: <%= @user.username if @user.username %></p>
<p>Email: <%= @user.email if @user.email %></p>

<span>Your weekly budget: <%= number_to_currency(@user.weekly_budget) %></span><br>

<p></p>
<p id="edit_link"><%= link_to 'Edit your information', edit_user_path(@user) %></p>