<p id="notice"><%= notice %></p>

<p>
  <strong>Cost:</strong>
  <%= @purchase.cost %>
</p>

<p>
  <strong>Product:</strong>
  <%= @purchase.product %>
</p>

<p>
  <strong>Shopping trip:</strong>
  <%= @purchase.shopping_trip %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
