<% if @userz.nil? || @userz.empty? || (@userz.size == 1 && @userz.first == current_user) %>
  No users found.
<% else %>
  <ul style="padding-left: 0.5em">
    <% @userz.each do |u| %>
      <% unless u == current_user %>
        <span class="checkbox">
          <label for="shopping_trip_user_ids_<%= u.id %>">
            <input class="check_boxes optional" type="checkbox" value="<%= u.id %>" id="shopping_trip_user_ids_<%= u.id %>" /> <!-- no name on purpose! -->
            <%= u.username %>
          </label>
          <script type="text/javascript">
          if (participants.indexOf("<%= u.username %>") > -1) {
            $("#shopping_trip_user_ids_<%= u.id %>").prop('checked', true);
          }
          
          $("#shopping_trip_user_ids_<%= u.id %>").change(function() {
            userIdx = participants.indexOf("<%= u.username %>");
            if ($(this).is(':checked')) {
              // Add user to "checked" list
              if (userIdx < 0) {
                participants.push("<%= u.username %>");
                pids.push('<%= u.id %>')
                $('#preview-participants').html(participants.join('<br>'));
              }
            } else {
              // Remove user from "checked" list if he/she is on it
              if (userIdx > -1) {
                participants.splice(userIdx, 1);
                pids.splice(userIdx - 1, 1);
                $('#preview-participants').html(participants.join('<br>'));
              }
            }
          });
          </script>
        </span>
      <% end %>
    <% end %>
  </ul>
<% end %>
