<% if user_signed_in? %>
	<h2>Your Debt Summary:</h2>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
      </tr>
      <% @debts.each do |key, value| %>
      <tr>
        <% if key != current_user.username %>
        <td>
          <% if value > 0 %>
            <%= key + " owes you" %>
          <% else %>
            <%= "You owe " + key %>
          <% end %>
        </td>
        <td>
          <% if value > 0 %>
            <a href="<%= debt_show_path(key) %>"><%= number_to_currency(value) %></a>
          <% else %>
            <a href="<%= debt_show_path(key) %>"><%= number_to_currency(value * -1) %></a>
          <% end %>
        </td>  
        <% end %>
      </tr>
      <% end %>
    </table>

  <h2>Your Active Debts</h2>
    <table class="table table-striped table-bordered table-condensed">
      <% @user_debts.each do |debt| %>
        <tr>
          <th>Shopping Trip</th>
          <th>Date</th>
          <th>User</th>
          <th>Amount</th>
        </tr>

        <td>
          <a href="<%= shopping_trip_path(debt.shopping_trip.id) %>"><%= debt.shopping_trip.name %></a>
        </td>

        <td>
          <%= debt.shopping_trip.date %>
        </td>

        <td>
          <%= debt.creditor.username %>
        </td>

        <td>
          <%= debt.cost %>
        </td>

        <td>
          <div class="debt_button">
            <%= button_to "Edit", edit_debt_path(user: key), :class => "btn-success", :method => :patch %>
          </div>
        </td>

      <% end %>
    </table>

  <h2>Your Active Credits</h2>
    <table class="table table-striped table-bordered table-condensed">
      <% @user_credits.each do |credit| %>
        <tr>
          <th>Shopping Trip</th>
          <th>Date</th>
          <th>User</th>
          <th>Amount</th>
        </tr>

        <td>
          <a href="<%= shopping_trip_path(credit.shopping_trip.id) %>"><%= credit.shopping_trip.name %></a>
        </td>

        <td>
          <%= credit.shopping_trip.date %>
        </td>

        <td>
          <%= credit.creditor.username %>
        </td>

        <td>
          <%= credit.cost %>
        </td>

        <td>
          <div class="debt_button">
            <%= button_to "Edit", edit_debt_path(user: key), :class => "btn-success", :method => :patch %>
          </div>
        </td>
      <% end %>
    </table>
<% else %>
  <div class="jumbotron">
    <h1>Welcome, new user!</h1>
    <p class="lead">
      You must sign in or sign up before you can access our super sweet,
      top secret content.
    </p>
    <div class="row-fluid">
        <div class="buttonHolder">
        	<%= link_to "Sign In", new_user_session_path, class: "btn btn-success" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
        </div>
    </div>
  </div>
<% end %>
