<% if user_signed_in? %>
	<h3>Your Debt Summary:</h3>
    <% if @user_debts.count == 0 and @user_credits.count == 0 %>
      There's nothing to summarize...
    <% else %>
      <table class="table table-striped table-bordered table-condensed">
        <% @debts.each do |key, value| %>
        <tr>
          <% if key != current_user.username %>
          <td>
            <% if value > 0 %>
              <%= key + " owes you" %>
            <% else %>
              <%= "You owe " + key %>
            <% end %>
          </td>
          <td>
            <% if value > 0 %>
              <%= number_to_currency(value) %>
            <% else %>
              <%= number_to_currency(value * -1) %>
            <% end %>
          </td>  
          <% end %>
        </tr>
        <% end %>
      </table>
    <% end %>

  <h3>Your Active Debts:</h3>
    <table class="table table-striped table-bordered table-condensed">
      <% if @user_debts.count == 0 %>
        Dayum you're debt free!
      <% else %>
        <% @user_debts.each do |debt| %>
          <% if debt.creditor.username != current_user.username %>
              <tr>
                <th>Shopping Trip</th>
                <th>Purchase</th>
                <th>Date</th>
                <th>User</th>
                <th>Amount</th>
              </tr>

              <tr>
                <td>
                  <a href="<%= shopping_trip_path(debt.shopping_trip.id) %>"><%= debt.shopping_trip.name %></a>
                </td>

                <td>
                  <%= debt.purchase.product_name %>
                </td>
        
                <td>
                  <%= debt.shopping_trip.date %>
                </td>
        
                <td>
                  <%= debt.creditor.username %>
                </td>
        
                <td contenteditable='true'>
                  <%= number_to_currency(debt.cost) %>
                </td>
        
                <td>
                  <div class="debt_button">
                    <%= button_to "Resolve", edit_debt_path(id: debt.id), :method => :delete, :class => "btn btn-danger btn-block" %>
                  </div>
                </td>
              </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>

  <h3>Your Active Credits:</h3>
    <% if @user_credits.count == 0 %>
      No one owes you any money...
    <% else %>
      <table class="table table-striped table-bordered table-condensed">
        <% @user_credits.each do |credit| %>
          <% if credit.debtor.username != current_user.username %>
            <tr>
              <th>Shopping Trip</th>
              <th>Purchase</th>
              <th>Date</th>
              <th>User</th>
              <th>Amount</th>
            </tr>
            <tr>
              <td>
                <a href="<%= shopping_trip_path(credit.shopping_trip.id) %>"><%= credit.shopping_trip.name %></a>
              </td>

              <td>
                  <%= credit.purchase.product_name %>
              </td>

              <td>
                <%= credit.shopping_trip.date %>
              </td>
      
              <td>
                <%= credit.debtor.username %>
              </td>
      
              <td>
                <%= number_to_currency(credit.cost) %>
              </td>
      
              <td>
                <div class="debt_button">
                  <%= button_to "Resolve", edit_debt_path(id: credit.id), :class => "btn btn-danger btn-block", :method => :delete %>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
    <% end %>
      </table>

<% else %>
  <div class="jumbotron">
    <h1>Welcome, new user!</h1>
    <p class="lead">
      You must sign in or sign up before you can access our super sweet,
      top secret content.
    </p>
    <div class="row-fluid">
        <div class="buttonHolder">
        	<%= link_to "Sign In", new_user_session_path, class: "btn btn-success" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
        </div>
    </div>
  </div>
<% end %>
