<% @user = current_user %>
<% if user_signed_in? %>
  <h2>New Shopping Trip:</h2>
  <div id="pform-list">
    <form id="usearch-form" method="get" action="">
      <div class="participant-input">
        Participant: <input id="usearch-box" name="qu" type="text" autocomplete="off" /><br>
      </div>
    </form>
  </div>
  <input type="submit" value='Add participant' id="add-participant" name="addpa"></input>
  <span id="pform-error"><br></span>
  <br>
  
	<div id="shopping_trip_form">
		<%= form_for :vendor, :url => trip_path(@user) do |e| %>
			Vendor: <%= e.text_field :vendor_name %><br />
			<%= fields_for :purchase do |u| %>
				Date: <%= date_field(:purchase, :date_purchased) %>
			<% end %>
			<div class="submit"><%= e.submit "Add Shopping Trip", class: 'btn btn-success btn-lg' %></div>
		<% end %>
	</div>

  <hr>
  (search) Vendor:
  <form id="vsearch-form" method="get" action="">
    <input id="vsearch-box" name="q" type="text" autocomplete="off" />
  </form>

  <div id="vsearch-results">No vendors found.</div>
  <hr>

  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th>Shopping Trips</th>
    </tr>

    <% @user.shopping_trips.each do |s| %>
      <tr>
        <td><a href="<%= shopping_trip_path(s.id) %>"><%= s.name %></a></td>
      </tr>
    <% end %>
  </table>
  
<% else %>
  <div class="jumbotron">
    <h1>Welcome, new user!</h1>
    <p class="lead">
      You must sign in or sign up before you can access our super sweet,
      top secret content.
    </p>
    <div class="row-fluid">
      <div class="buttonHolder">
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-success" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_include_tag('vendor_search.js') %>
<%= javascript_include_tag('participants.js') %>
