<% @user = current_user %>
<% if user_signed_in? %>
  <script type="text/javascript">participants = []; pids = [];</script>
  <div id="st-entry-container">
    <div class="form" id="shopping_trip_form">
      <h3 id="shopping_trip_header" class="h3-reduced-margin">Enter a new shopping trip</h3>
      <hr>
      <label class="control-label">Search for users</label>
      <form id="usearch-form" method="get" action="">
        <input id="usearch-box" class="form-control" name="q" type="text" autocomplete="off" />
      </form>

      <hr>
    
      <%= simple_form_for @shopping_trip, url: trip_path(@user, :date_purchased) do |f| %>
        <div class="form-group check_boxes optional shopping_trip_users">
          <label class="optional control-label">Participants</label>
          <div id="usearch-results">No users found.</div>
        </div>

        <%= f.simple_fields_for :vendors do |vendor| %>
          <%= f.input :vendor_name, required: true, label: false, placeholder: 'Vendor', class: 'form_input' %>
        <% end %>

        <%= f.simple_fields_for :purchase do |p| %>
          <%= p.input :date_purchased, label: 'Expedition date', as: :date, required: false, html5: true %>
        <% end %>

        <div class="submit">
          <%= f.button :submit, "Add Shopping Trip", class: 'btn btn-success btn-lg btn-block' %>
        </div>
      <% end %>
      <script type="text/javascript">
      $("#shopping_trip_form").submit(function() {
        numOthers = pids.length;
        for (var i = 0; i < numOthers; i++) {
          $('#usearch-results').append('<input type="hidden" name="shopping_trip[user_ids][]" value="'
              + pids[i] + '" />');
        }
      });
      </script>
    </div>
  
    <div id="shopping-trip-preview">
      <h3 class="h3-reduced-margin">Preview</h3>
      <hr>
      <span id="preview-vendor">Untitled shopping trip</span><br>
      <span id="preview-date"><%= Date.today %></span>
      <br><br>
      <span id="preview-parti-label"><u>Participants</u></span>
      <div id="preview-participants">
        You (<%= current_user.username %>)
      </div>
    </div>
    
    <div id="clear"></div>
  </div>
  
  <br><hr>

  <h3>Your Shopping Trips:</h3>
  <% if @user.shopping_trips.count == 0 %>
    You have no shopping trips!
  <% else %>
    <table class="table table-striped table-bordered table-condensed table-hover" id="shopping_trip_table">

      <tr>
        <th>Vendor</th>
        <th>Date</th>
        <th>Total</th>
      </tr>

      <% @user.shopping_trips.each do |s| %>
        <tr>
          <td><a href="<%= shopping_trip_path(s.id) %>"><%= s.name %></a></td>
          <td><%= s.date %></td>
          <td><%= number_to_currency(s.total) %> </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  
<% else %>
  <div class="jumbotron">
    <h1>Welcome, new user!</h1>
    <p class="lead">
      You must sign in or sign up before you can access our super sweet,
      top secret content.
    </p>
    <div class="row-fluid">
      <div class="buttonHolder">
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-success" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_include_tag('vendor_search.js') %>
<%= javascript_include_tag('participants.js') %>
