<h2><%= @shopping_trip.name %> </h2>
<% @user = current_user %>

<table class="table table-striped table-bordered table-condensed">
		<tr>
			<th>Category</th>
			<th>Product</th>
			<th>Cost</th>
		</tr>

		<% @shopping_trip.purchases.each do |p| %>
		<tr>
			<td><%= p.category %></td>
			<td><%= p.product_name %></td>
			<td><%= number_to_currency(p.cost) %></td>
		</tr>
		<% end %>

</table>
<%= "Total: " + number_to_currency(@shopping_trip.total) %> <br>
<% @participants = '' %>
<% @shopping_trip.users.each do |u| %>
	<% if @participants.blank? %>
		<% @participants = '' + u.username %>
	<% else %>
		<% @participants = @participants + ', ' + u.username %>	
	<% end %>
<% end %>
<%= "Participants: " + @participants %>