<% @product = Product.new %>
<h3>Enter a new purchase:</h3>
<%= form_for @product, :url => create_path(:date => params[:date_purchased], :shopping_trip => params[:shopping_trip]) do |f| %>
	Product: <%= f.text_field :product_name %><br />

	<%= fields_for :purchase do |p| %>
	    Cost: <span id="cost"><%= p.text_field :cost %></span><br />

	    Category:
	    <%= p.select :category, [['N/A', 'N/A'],['Food','food'],['Household','household'],['Entertainment','entertainment'],['Education','education'],['Travel','travel'],['Clothing','clothing']] %>
	<% end %>

	<%= f.fields_for :purchases do |purchase| %>

		<p class="fields">
			<%= render 'purchase_fields', :f => purchase %>
		</p>

	<% end %>

	<div class='links'>
      <%= link_to_add_association 'Add purchase', f, :purchases %>
    </div>

	<div class="submit"><%= f.submit "Add purchase", class: 'btn btn-primary btn-lg' %></div>
<% end %>
