<% @product = Product.new %>
<% @purchase = Purchase.new %>
<% @users = params[:users] %>
<h3>Enter a new purchase:</h3>
<%= simple_form_for @product, :url => create_path(:date_purchased => params[:date_purchased], :shopping_trip => params[:shopping_trip], :users => params[:users]) do |f| %>
	<%= f.input :product_name, required: false %>

	<%= simple_fields_for @purchase do |p| %>
	    
	    <%= p.input :cost, required: false %>

	    <%= f.input :category do %>
	    	<%= p.select :category, [['N/A', 'N/A'],['Food','food'],['Household','household'],['Entertainment','entertainment'],['Education','education'],['Travel','travel'],['Clothing','clothing']], required: false %>
	    <% end %>

	    <%= p.association :users, as: :check_boxes, label: 'Splitters', label_method: :username, collection: User.where(id: @users).order(:username), include_blank: false, include_hidden: false %>

	<% end %>

	<%= f.simple_fields_for :purchases do |purchase| %>

		<p class="fields">
			<%= render 'purchase_fields', :f => purchase %>
		</p>

	<% end %>

	<div class='links'>
      <%= link_to_add_association 'Add purchase', f, :purchases, render_options: {locals: { users: params[:users] }} %>
    </div>

	<div class="submit"><%= f.button :submit, "Add purchase(s)", class: 'btn btn-primary btn-lg' %></div>
<% end %>
