<p id="notice"><%= notice %></p>

<p>
  <strong>Percentage:</strong>
  <%= @expense.percentage %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @expense.purchase %>
</p>

<p>
  <strong>User:</strong>
  <%= @expense.user %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
