<!DOCTYPE html>
<html>
<head>
  <title>Down to Split [D2S]</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Voltaire|Francois+One' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><a href="#">down to SPLIT</a><br>. . . . . . . . . .</h1>
    <div id="header-bar"></div>
    <div id="header-ul-wrapper">
      <ul id="header-ul">
        <li><a href="/expenses">Expenses</a></li>
        <li><a href="/">Debt Listings</a></li>
        <li><a href="/">Price Comparison</a></li>
        <li>
          <% if user_signed_in? %>
            <%= link_to current_user.username, user_path(current_user.id) %> <%= link_to "(Sign Out)", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Login", new_user_session_path %> (<%= link_to "Register", new_user_registration_path %>)
          <% end %>
        </li>
      </ul>
    </div>
  </header>
  
  <br><br>
  <div id="main-content">
    <!-- Flash messages (apparently required by Devise) -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- This will be filled in by individual pages -->
    <%= yield %>
  </div>
  
  <footer>
    <div id="footer-bar"></div>
    <ul>
      <li><span class="footer-overline">&copy; The D2S team [watch out; D2S also stands for Down to Sue]</span></li>
      <li id="bananafy-button"><a href="#"><span class="stay-black">Banana-fy this page!</span></a></li>
      <div class="pull-right">
        <li class="space-please"><a href="/"><span class="footer-overline">About</span></a></li>
        <li class="space-please"><a href="/"><span class="footer-overline">Contact</span></a></li>
        <li class="space-please"><a href="/"><span class="footer-overline">Donate</span></a><li>
      </div>
    </ul>
  </footer>
</body>
</html>
