<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Down to Split</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Voltaire|Francois+One' %>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Lato:400,900,700' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <header>
      <div id="banner">
        <h1><a href="/">down to SPLIT</a><br>. . . . . . . . . .</h1>
      </div>
      <div id="header-ul-wrapper">
        <ul id="header-ul">
          <li><a href="/expenses">Shopping Trips</a></li>
          <li><a href="/debts">Debt Listings</a></li>
          <li>
            <% if user_signed_in? %>
              <%= link_to current_user.username, user_path(current_user.id) %> <%= link_to "(Sign Out)", destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to "Login", new_user_session_path %> (<%= link_to "Register", new_user_registration_path %>)
            <% end %>
          </li>
        </ul>
      </div>
    </header>
    
    <div id="container">
      <div id="main-content">
        <!-- Flash messages (apparently required by Devise) -->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    
        <!-- This will be filled in by individual pages -->
        <%= yield %>
      </div>
    </div>
    
    <footer>
        <div style="text-align: center">&copy; The D2S team [watch out; D2S also stands for Down to Sue]</div>
        <div style="text-align: center">
            <a href="/about">About</a> &nbsp;&middot;&nbsp; <a href="/tos">Terms of Service</a> &nbsp;&middot;&nbsp; <a href="https://twitter.com/downtosplit">Twitter</a>
        </div>
    </footer>
  </div>
</body>
</html>
